In [1]:
import pandas as pd
import numpy as np

In [2]:
file = open("guten.txt","r", encoding='utf-8')
raw_data = file.read()
file.close()

raw_data = raw_data.split('\n')
pairs = [sentence.split('\t') for sentence in raw_data]

In [4]:
pairs[0:5]

[[''],
 ['Emma Woodhouse handsome clever and rich with a comfortable home,'],
 ['and happy disposition, seemed to unite some of the best blessings'],
 ['of existence; and had lived nearly twenty-one years in the world'],
 ['with very little to distress or vex her.']]

In [5]:
df= pd.DataFrame(pairs,columns=["text"])
df.head()

                                                text
0
1  Emma Woodhouse handsome clever and rich with a...
2  and happy disposition, seemed to unite some of...
3  of existence; and had lived nearly twenty-one ...
4           with very little to distress or vex her.

In [6]:
df["text"]= "<start> "+df["text"] + " <end>"

In [7]:
df["len"]=df["text"].str.split(" ").str.len()
df.head()

                                                text  len
0                                     <start>  <end>    3
1  <start> Emma Woodhouse handsome clever and ric...   12
2  <start> and happy disposition, seemed to unite...   13
3  <start> of existence; and had lived nearly twe...   13
4  <start> with very little to distress or vex he...   10

In [8]:
maxlen= df["len"].max()
maxlen

20

In [10]:
def addPadding(s):
    s_l = s.split(" ")
    s= s+" <empty>" * (maxlen-len(s_l))
    return s

In [11]:
df["TextWithPadding"] = df["text"].apply(addPadding)

In [12]:
df.head()

,text,len,TextWithPadding
0,<start> <end>,3,<start> <end> <empty> <empty> <empty> <empty>...
1,<start> Emma Woodhouse handsome clever and ric...,12,<start> Emma Woodhouse handsome clever and ric...
2,"<start> and happy disposition, seemed to unite...",13,"<start> and happy disposition, seemed to unite..."
3,<start> of existence; and had lived nearly twe...,13,<start> of existence; and had lived nearly twe...
4,<start> with very little to distress or vex he...,10,<start> with very little to distress or vex he...

In [13]:
pairs_with_padding = df['TextWithPadding'].values
pairs_with_padding

array(['<start>  <end> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty>',
       '<start> Emma Woodhouse handsome clever and rich with a comfortable home, <end> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty>',
       '<start> and happy disposition, seemed to unite some of the best blessings <end> <empty> <empty> <empty> <empty> <empty> <empty> <empty>',
       ...,
       '<start> Harriet had not surmised her own danger, but the idea of it struck <end> <empty> <empty> <empty> <empty> <empty>',
       '<start> her forcibly. <end> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty>',
       '<start>  <end> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty> <empty>'],
      dtype=object)